 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">
        <!-- Navbar -->
        <div class="container-fluid py-4">
            <div class="row">
                <!-- ENTER CODE HERE -->

                <div class="col-lg-12 position-relative z-index-2">

                    {{!-- aqui el body --}}

                    <div class="container p-4">
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <form class="card card-body bg-dark text-white p-5"
                                    action="/academia/edit/{{estudiante.id}}" method="POST">
                                    <h3 class="text-center fw-bold mb-4">Regístrese</h3>

                                    <label for="nombre">Escriba su nombre:</label>
                                    <input value="{{estudiante.nombre}}" type="text" name="nombre" placeholder="usuario"
                                        class="form-control mb-3" autofocus />

                                    <label for="username">Escriba su Email:</label>
                                    <input value="{{estudiante.email}}" type="email" name="email"
                                        placeholder="youremail@mail.com" class="form-control mb-3" />

                                    <label for="password">Escriba su password:</label>
                                    <input value="{{estudiante.password}}" type="password" name="password1"
                                        placeholder="Contraseña" class="form-control mb-3" />

                                    {{!-- Confirm your password --}}
                                    <label for="password">Confirme su password:</label>
                                    <input value="" type="password" name="password2" placeholder="Contraseña"
                                        class="form-control mb-3" />

                                    {{!-- role docente o estudiante --}}
                                    <select class="form-select" name="role" aria-label="Default select example"
                                        placeholder="Rol">
                                        <option value="estudiante">Estudiante</option>
                                    </select>


                                    <button class="btn btn-success btn-block mt-4">
                                        Actualizar
                                    </button>
                                 </form>
                            </div>
                        </div>
                    </div>


                    <!-- fin -->

                </div>

            </div>
        </div>
    </main>