<style>
  .navbar-toggler .navbar-toggler-icon {
    
}
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="/">
      {{!-- <i class="fas fa-link"></i> --}}
      <img class="logo-upn" src="../img/logoU.png" alt="">
      <span>AcademiaWeb </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      {{!-- <span class="navbar-toggler-icon" style="background-color: #36648d00 !important;" ></span> --}}
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Tareas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/temas">Todas las tareas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/temas/add">Añadir Tarea</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/temas/cuentasestudiante">Cuentas Estudiantes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{user.nombre}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile">Perfil</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
